
/* 自定义主题变量,通常用于实现主题的不同层次和状态。比如一个按钮的不同状态
用途：专门控制 Element 组件（如按钮、输入框）的颜色 */
/* .button:hover {
    background-color: var(--el-color-primary-light-3); /* 悬停状态 *} */
:root {
    --el-color-primary: #409eff;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-5: #a0cfff;
    --el-color-primary-light-7: #c6e2ff;
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    --el-color-primary-dark-2: #337ecc;
  }
  
  html.dark {
    --el-color-primary: #409eff;
    --el-color-primary-light-3: #3375b9;
    --el-color-primary-light-5: #2a598a;
    --el-color-primary-light-7: #213d5b;
    --el-color-primary-light-8: #1d3043;
    --el-color-primary-light-9: #18222c;
  }

